div.states-page {
    position: fixed;
    top: 60px;
    left: 0;

    width: 100%;
    height: calc(100vh - 60px);

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: auto;
}

div.search-bar {
    width: 20%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding-top: 8px;
    padding-bottom: 8px;

    margin-bottom: 12px;
}

@media(max-width: 1400px) {
    div.search-bar {
        width: 50%;
    }
}

@media(max-width: 900px) {
    div.search-bar {
        width: 80%;
    }
}