:root {
    --main-background: #272a30;

    --primary-text-color: #ffffff;

    --header-background-color: #272a30;
    --header-font-color: #ffffff;

    --header-navigator-item-name-color: #ffffff;
    --header-navigator-item-active-background-color: rgb(181,60,60);
    --header-navigator-item-active-background: linear-gradient(90deg, rgba(181,60,60,1) 0%, rgba(204,65,92,1) 100%);
    --header-navigator-phone-item-active-background: #242429;

    --homepage-landing-banner-background-color: rgb(57,100,129);
    --homepage-landing-banner-background: linear-gradient(54deg, rgba(57,100,129,1) 0%, rgba(110,142,163,1) 100%);
    --homepage-landing-banner-info-message-color: #ffffff;

    --homepage-section-header-title-color: #fff;
    --homepage-section-header-bottom-border-color: #2e323a;
    
    --homepage-navigator-item-background: #2d3035;
    --homepage-navigator-item-border-color: #e0e0e000;
    --homepage-navigator-item-shadow-color: #cccccc00;
    --homepage-navigator-item-font-color: #e4e4e4;

    --dashboard-category-name-color: rgba(204,65,92,1);
    --dashboard-category-title-underline-color: #313038;
    --dashboard-item-default-background-color: #24242a;
    --dashboard-item-name-color: #d0d0d0;
    --dashboard-item-shadow: 0px 4px 14px #111111aa;

    --dashboard-vaccination-distribution-chart-background: #27292e;
    --dashboard-vaccination-distribution-chart-segment-biontech: #c24b4b;
    --dashboard-vaccination-distribution-chart-segment-moderna: #9845c8;
    --dashboard-vaccination-distribution-chart-segment-astrazeneca: #4a7eb9;
    --dashboard-vaccination-distribution-chart-segment-janssen: #5dbd51;

    --search-background: #222427;
    --search-focus-background: #303338;
    --search-text-color: #ffffff;
    --search-autocomplete-color: #888;
    --search-placeholder-color: #777;
}