:root {
    --main-background: #ffffff;

    --primary-text-color: #000000;

    --header-background-color: #272a30;
    --header-font-color: #ffffff;

    --homepage-landing-banner-background-color: rgb(57,100,129);
    --homepage-landing-banner-background: linear-gradient(54deg, rgba(57,100,129,1) 0%, rgba(110,142,163,1) 100%);
    --homepage-landing-banner-info-message-color: #ffffff;

    --homepage-section-header-title-color: #000000;
    --homepage-section-header-bottom-border-color: #ddd;
    
    --homepage-navigator-item-background: #f3f3f3;
    --homepage-navigator-item-border-color: #e0e0e0;
    --homepage-navigator-item-shadow-color: #ccc;
    --homepage-navigator-item-font-color: #444;
}